/**************************
#Hicaliber Child Theme
**************************/
/*************************************
TYPOGRAPHY - START
*************************************/
.header .top-bar{
  padding:0px;
}
.top-bar-left{
  padding:20px 0;
}
body {
    font-weight: 300;
    color: #77769c;
}
@media(max-width: 640px){
  body {
      font-size: 16px;
  }
}
.default-section .box-link {
  color: #1B1B1B;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3;
  font-weight: 600;
  color: #323258;
}
h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 26px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

a {
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

a:hover, a:focus {
  outline: 0;
}

.lead {
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 641px) {
  h1, .h1 {
    font-size: 36px;
  }

  h2, .h2 {
    font-size: 30px;
  }

  h3, .h3 {
    font-size: 24px;
  }

  h4, .h4 {
    font-size: 20px;
  }

  h5, .h5 {
    font-size: 16px;
  }

  h6, .h6 {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body,.tabs-title>a {
    font-size: 16px;
  }

  h1, .h1 {
    font-size: 45px;
  }

  h2, .h2 {
    font-size: 34px;
  }

  h3, .h3 {
    font-size: 28px;
  }

  h4, .h4 {
    font-size: 24px;
  }

  h5, .h5 {
    font-size: 18px;
  }

  h6, .h6 {
    font-size: 14px;
  }
}

/*************************************
5.TYPOGRAPHY - END
*************************************/

/**************************
#BUTTONS - START
**************************/
.button {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px 10px 10px 0 !important;
}
section:not(.default-section, .light-section) .button.secondary-white-button {
    background: transparent;
    border: 1px solid #fff;
}
section:not(.default-section, .light-section) .button.secondary-white-button:hover {
    background: #ffa825;
    border: 1px solid #ffa825;
}
/*************************
BUTTONS - END
**************************/
/*************************
HELPERS - START
**************************/
/*Lists - START*/
.checklist li, .page-element.checklist ul li {
  padding-left: 26px;
}

.checklist li:before, .page-element.checklist ul li:before {
  font-weight: 900;
}

ol.steps-list, .page-element.steps-list ol {
  padding: 0;
}

ol.steps-list li, .page-element.steps-list ol li {
  padding: 20px 15px 20px 75px;
}

ol.steps-list li:before, .page-element.steps-list ol li:before {
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  margin-top: -3px;
  font-weight: bold;
  text-align: center;
}
/*Lists - END*/
/*No Border Table - START*/
.page-element table.no-border {
  margin: 0 0 32px;
}

.page-element table.no-border th {
  padding: 2px 14px 2px 0;
}

.page-element table.no-border td {
  padding: 2px 8px;
}

/*No Border Table - END*/
/*Slope - START*/
.slope-top-left-right, .slope-top-right-left, .slope-bottom-left-right, .slope-bottom-right-left {
  position: relative;
}

.slope-top-left-right:before, .slope-top-right-left:before, .slope-bottom-left-right:after, .slope-bottom-right-left:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 85px solid transparent;
  border-bottom: 85px solid transparent;
}

.slope-top-left-right:before, .slope-top-right-left:before {
  top: -85px;
}

.slope-bottom-left-right:before, .slope-bottom-right-left:after {
  bottom: -85px;
}

.slope-top-left-right:before, .slope-bottom-right-left:after {
  border-right: 100vw solid #fff;
}

.slope-top-right-left:before, .slope-bottom-left-right:after {
  border-left: 100vw solid #fff;
}

/*Slope - END*/
/*************************
HELPERS - END
**************************/
/**************************
HEADER - START
**************************/
.header .top-header {
  font-size: 13px;
}

.header .top-header .menu a {
  font-size: 12px;
  padding-left: 0;
}

.header .top-header ul li.social-icon {
  margin-top: 5px;
  margin-right: 5px;
  padding: 0;
}

.header .top-header ul li.social-icon a {
  padding: 5px 0;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
}

.header .button {
  color: #fff;
  padding: 8px 12px;
  font-size: 12px;
}

.header .top-bar .top-bar-right.hide-for-large {
  height: 100%;
}

.header .top-bar .top-bar-right.hide-for-large .menu a {
  padding: 5px;
  margin-right: 10px;
}

.header .top-bar .top-bar-right.hide-for-large .menu .phone i {
  font-size: 22px;
}

.header .top-bar .top-bar-right.hide-for-large .menu .phone .number {
  display: none;
}

@media (min-width: 641px){
  .header .top-header ul.contact-info li:not(:last-child) {
    border-right: 1px solid #ccc;
  }
}
/* Default & Light Header - START*/
.header-default .header, .header-light .header {
  background-color: #fff;
  color: #1b1b1b;
}

.header-default .header .top-header, .header-light .header .top-header {
  background-color: #fff;
  color: #1b1b1b;
}

/* .header-default .header .top-header a, .header-light .header .top-header a {
  color: #1b1b1b;
} */

.header-default .header .menu .is-dropdown-submenu li a, .header-light .header .menu .is-dropdown-submenu li a {
  background-color: #fff;
}

/* Default & Light Header - END*/
/* Dark & Theme Header - START*/

.header-dark .header .menu .is-dropdown-submenu li a {
  background-color: #000;
}

/* Dark & Theme Header - END*/
/* Transparent Header - START*/
.header-transparent .top-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Transparent Header - END*/
/* Sticky Header - START*/
.sticky-header.scrolled.header-transparent .header {
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .35);
  background-color: #000;
}

.sticky-header .header .logo-wrap {
  width: 100%;
  transition: all 1s;
}

.sticky-header.scrolled .header .logo-wrap {
  width: 80%;
  transition: all 1s;
}
.header .menu .menu-button a {
    background-color: transparent !important;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5px;
    padding: 14px;
}
.header .menu .menu-button a:hover {
    background-color: #ffa825 !important;
    border: 1px solid #ffa825;
}
.dropdown.menu>li>a {
    padding: 14px;
}
/* Sticky Header - END*/

@media (min-width: 1024px){
  body:not(.header-theme) .header .top-bar-right {
    align-self: flex-start;
    height: 100%;
  }

  body:not(.header-theme) .header .menu li.active > a {
      position: relative;
  }

  body:not(.header-theme) .header .menu li.active > a::before {
    content: '';
    left: 0;
    right: 0;
    height: 1px;
    position: absolute;
  }

  body:not(.header-theme) .header:not(.header-layout-3) .menu li.active > a::before{
    top: -16px;
    display: none;
  }

  body:not(.header-theme) .header.header-layout-3 .menu li.active > a::before{
    top: -10px;
  }
  .header-transparent .hero.short-banner {
      min-height: calc(200px + 88px);
  }
}
/**************************
HEADER - END
**************************/
/**************************
MOBILE MENU - START
**************************/
.off-canvas .menu li.is-accordion-submenu-item a {
  padding-left: 30px;
}

.off-canvas .menu a {
  color: #fff
}

.off-canvas .menu-button {
  margin-left: 0;
}
.custom-mobile-menu {
  font-weight: 600;
  border: 1px solid #CCC;
  padding: 8px 16px;
}

.off-canvas .menu li {
    border-bottom: 1px solid;
}

.off-canvas .menu .is-accordion-submenu-parent > a::after {
    content: '\f0da';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: all .25s ease-in-out;
}

.off-canvas .menu .is-accordion-submenu-parent[aria-expanded="true"] > a::after{
    transform: rotate(90deg);
}

.off-canvas .menu .is-accordion-submenu-parent > a {
    position: relative;
}
/**************************
MOBILE MENU - END
**************************/
/****************************************
#HERO START
****************************************/
.hero .hero-main {
    align-items: flex-start;
}
.hero .bg-helper {
    background-position: bottom center;
}

.hero .hero-banner-message-w-slider .hic-image {
    background-size: contain;
    background-repeat: no-repeat;
}
.hero .hero-banner-message h1 {
    font-weight: 300;
    color: #fff;
}
.hero .hero-banner-message h1 strong {
    text-transform: uppercase;
    font-weight: 600;
}
@media(min-width: 641px) and (max-width: 1023px){
  .hero .hero-banner-message h1 {
      font-size: 2.5rem;
  }
}
@media(max-width: 1023px){
  .hero-main.hero-banner-message-w-slider {
      text-align: center;
  }
}
@media(min-width: 1024px){
  .hero .hero-banner-message-w-slider .grid-x.grid-padding-x {
      flex-flow: row;
  }
}
@media(min-width: 1024px) and (max-width: 1359px){
  .hero .hero-banner-message-w-slider .grid-x.grid-padding-x .cell:first-child {
      width: 50%;
  }
  .hero .hero-banner-message-w-slider .grid-x.grid-padding-x .cell {
      width: 50%;
  }
  .hero .hero-banner-message-w-slider .hic-image {
      min-height: 600px;
  }
}
@media(min-width: 1360px){
  .hero .hero-banner-message-w-slider .hic-image {
      min-height: 700px;
  }
  .hero .hero-banner-message-w-slider .grid-x.grid-padding-x .cell:first-child {
      width: 40%;
  }
  .hero .hero-banner-message-w-slider .grid-x.grid-padding-x .cell {
      width: 60%;
  }
}
/****************************************
HERO END
****************************************/
/**************************
#PAGE ELEMENTS - START
**************************/
.section-title{
  font-weight: bold;
}
.section-title span {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.page-element.has-bg-img .section-title{
  color: #fff;
}
.page-element.has-bg-img .section-title span {
    color: #ffa825;
}
 .large-2 .hic-title h3 {
    font-size: 18px;
  }

.section-header .sub-heading {
  font-size: 18px;
  font-weight: 400;
}

.page-element.box-shadow .hic-box {
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, .15);
}

.page-element.has-bg-img .bg-image:before, .sidebar-element.has-bg-img .bg-image:before {
  background: rgba(10, 0, 0, .15);
}


.hic-title h3 {
  font-size: 1.5rem;
}



.hic-blurb p:last-child {
  margin-bottom: 0;
}

.image-overlay-content .hic-box {
  position: relative;
  border: 0;
}

.image-overlay-content .has-image .hic-content {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: left;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(18,148,219,0) 6%, rgba(0,0,0,0.5) 74%);
  margin-bottom: 0;
  padding: 25px;
  color: #fff;
  justify-content:end;
  display: flex;
  flex-flow: column;
}
.image-overlay-content .has-video .hic-content {
    background-color: transparent;
    bottom: 34px;
    height: auto;
    top: auto;
}

.image-above-content .hic-box,
.white-boxes .hic-box,
.grey-boxes .hic-box {
    height: 100%;
}


.image-overlay-content .hic-title h3 {
  font-size: 22px;
  margin-bottom: 0;
  color: #fff;
}

.hic-button-wrap .button {
  margin: 1rem 0 0;
}

.content-equal-height.align-button .hic-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-equal-height.align-button .hic-button-wrap {
    justify-self: self-end;
    margin-top: auto;
}

/* HIC VIDEO BOX */
.hic-video-box .hic-image::before {
  content: '';
  display: block;
  padding-top: 60%;
}

.hic-video-box .hic-image {
  height: auto;
  position: relative;
}

.hic-video-box {
  position: relative;
  margin-bottom: 30px;
}

.hic-video-box .hic-content * {
  color: #fff;
}

.hic-video-box .hic-content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 30px;
}

.video-play-container .video-play-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 12px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.video-play-container {
  width: 50px;
  height: 50px;
  background-color: rgba(26, 26, 26, .75);
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.has-video .hic-image {
  position: relative;
  height: 100% !important;
}

.has-video .hic-image::before {
  background-color: rgba(10, 0, 0, 0.4);
  transition: all .25s ease-in-out;
}

.has-video .hic-media-container:hover .hic-image .video-play-button {
  transform: scale(1.15);
}

.has-video:hover .hic-image::before {
  background-color: rgba(10, 0, 0, 0.6);
}

.hic-image>* {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.hic-video-container {
  height: 280px;
  position: relative;
}

.hic-video-container .hic-image {
  height: 100%;
}

.page-element.has-excerpt .hic-blurb strong {
  font-weight: normal;
}

@media (max-width: 640px){
    .content-box-element:not(.image-overlay-content) .hic-image{
        margin-bottom: 20px;
    }

    .image-left-content .has-image .hic-image,
    .image-right-content .has-image .hic-image{
      margin-bottom: 24px;
    }
}

@media (min-width: 641px) {
  .page-element {
    padding: 50px 0;
  }

  .section-title {
    font-size: 45px;
  }

  .section-title span {
    font-size: 20px;
  }

  .section-header .sub-heading {
    font-size: 22px;
  }

  .image-left-content .has-image .hic-content {
    padding-left: 30px;
  }

  .image-right-content .hic-image .hic-content {
    padding-right: 30px;
  }

  .image-right-content.then-left .hic-content,
  .image-left-content.then-right .hic-content{
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .image-right-content.then-left.grid .section-body .cell.medium-12,
  .image-left-content.then-right.grid .section-body .cell.medium-12{
      margin-bottom: 0;
  }

  .image-left-content.then-right .grid .hic-content, .image-right-content.then-left .grid .hic-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: left;
  }

  .page-element.split-50-50 .hic-content {
    align-items: center;
    align-content: center;
    justify-content: center;
    /*display: flex;
    flex-wrap: wrap;*/
  }

  .page-element.split-50-50 .hic-content > *{
    width: 100%;
  }

  .image-above-content .hic-content {
      padding: 22px;
  }

  .image-above-content .hic-content:empty{
    padding: 0;
  }

}
@media(max-width: 1023px){
  .section-title br{
    display: none;
  }
}
@media (min-width: 1024px) {
  .page-element {
    padding: 80px 0;
  }
}

/*General - END*/
/*Icon Layouts - START*/
.icon-above-content .hic-title h3 {
    text-transform: uppercase;
}
.icon-above-content.default-alignment .hic-box {
  text-align: center;
}

.icon-above-content .hic-icon {
  font-size: 60px;
  width: 100%;
  display: inline-block;
}

.icon-above-content .hic-icon img {
  height: 75px;
  max-width: 75px;
  margin: 0 auto 20px;
}
/*Icon Layouts - END*/
/*Grid Layouts - START*/
.page-element.grid-layout-1 .section-body.grid .cell:not(:last-child) .hic-box {
  margin-bottom: 12px;
}

.page-element.grid-layout-1 .section-body.grid .hic-image {
  height: 300px;
}

@media (min-width: 641px) {
  .grid-layout-1 .grid-x>.large-4:first-child {
    width: 66.66667%;
  }

  .grid-layout-1 .grid-x>.large-3:first-child {
    width: 50%;
  }

  .page-element.grid-layout-1 .section-body.grid {
    padding-left: 9px;
    padding-right: 9px;
  }

  .page-element.grid-layout-1 .section-body.grid .cell {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
  }
}

.tabs .tab-icon {
  width: 46px;
  margin-right: 8px;
}

/*Grid Layouts - END*/
/**************************
PAGE ELEMENTS - END
**************************/
/**************************
#TESTIMONIAL ELEMENT - START
**************************/
.testimonial-element .bg-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.testimonial-element.image-above-content .hic-box {
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    display: grid;
}
.testimonial-element.image-above-content  .hic-content {
    padding: 0;
}
.testimonial-element.has-bg-img .bg-image:before {
    background: transparent;
}
.testimonial-element.content-only .hic-content {
  position: relative;
}

.testimonial-element.content-only .hic-content {
  padding-top: 70px;
}
.testimonial-element.image-above-content .hic-image {
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 80px;
}
.testimonial-element li.client-location {
    text-transform: uppercase;
}
.testimonial-element.content-only .hic-content:before {
  content: "\f10d";
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-size: 28px;
}

.testimonial-element .client-details {
  margin-top: 20px;
}

.testimonial-element .client-name {
    font-weight: 600;
    text-transform: uppercase;
    color: #323258;
}

.testimonial-element .client-name {
  font-weight: 600;
}
.testimonial-element .hic-rating {
    order: 1;
    margin-bottom: 20px;
}
.testimonial-element .hic-blurb {
    order: 2;
}
.testimonial-element .hic-client-wrap {
    order: 3;
    margin-top: 20px;
}
.testimonial-element.image-above-content .hic-media-container {
    order: 2;
}
.hic-rating i {
    color: #ffa825;
    font-size: 18px;
    margin: 0 2px;
}
.single .testimonial-element.default-alignment {
  text-align: center;
}
.single .testimonial-element.default-section {
  background-color: #f2f2f2;
}
.single .testimonial-element.default-section .hic-box {
  background-color: #FFF;
  padding: 50px;
}
.single .testimonial-element .grid-container {
  max-width: 950px;
}
.single .testimonial-element .hic-image {
    width: 250px;
    margin: 26px auto;
    border-radius: 50%;
    overflow: hidden;
}

.single .testimonial-element .hic-image::before{
  padding-top: 100%;
}
.page-element.testimonial-element.default-section.has-bg-img {
  color: #1B1B1B;
}
.slick-dots li button:only-child {
    display: block;
}
.slick-dots li button:before {
    font-size: 10px;
}
.slick-dots li button:before {
    font-size: 15px;
    opacity: 1;
    color: #dedee0;
}
.slick-dots li.slick-active button:before{
    background:linear-gradient(180deg, rgba(26,142,211,1) 6%, rgba(40,94,177,1) 74%);
    opacity: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .slick-arrow:before{
  content: "\f178";
  color: #323258;
}
body .slick-prev:before {
    content: "\f177";
    color: #323258;
}
button.slick-arrow {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
}
body .slick-next{
  right: -40px;
}
body .slick-prev {
    left: -40px;
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover{
  background-color: #fff;
}
@media(min-width:641px){
  .testimonial-element .client-name {
        font-size: 24px;
    }
}
/**************************
TESTIMONIALS ELEMENT - END
**************************/
/**************************
#ACCORDION - START
**************************/
.accordion-element .accordion-title {
  font-size: 20px;
}

.accordion-title:hover, .is-active .accordion-title {
  color: #fff !important;
}

@media(min-width: 1024px) {

  .accordion-element.image-left-accordion .section-body .cell,
  .accordion-element.image-right-accordion .section-body .cell {
    width: 50%;
  }

  .accordion-element.image-right-accordion .section-body .feature-image {
    order: 2;
  }
}

/**************************
ACCORDION - END
**************************/
/**************************
#FORMS - START
**************************/
.gfield_html {
    margin-bottom: 16px;
}
.field-disclaimer {
    padding: 16px;

}
.default-section:not(.has-bg-img) .field-disclaimer,
.light-section .field-disclaimer{
    background-color: #F2F2F2;
}
.field-disclaimer {
    font-size: 14px;
}

.gform_wrapper .gform_fields .gfield_header_item, .gform_wrapper .gform_fields .gform_fileupload_rules, .gform_wrapper .gform_fields .ginput_complex label {
  font-size: 16px;
  padding-top: .3125rem;
}
.gform_wrapper .gform_fields .description, .gform_wrapper .gform_fields .gfield_description, .gform_wrapper .gform_fields .instruction {
  clear: both;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media(max-width: 640px) {
  .input-group {
    flex-flow: column;
  }
}

/**************************
FORMS - END
**************************/
/*********************
#General Form Styling
*********************/
.general-form .gform-wrapper {
  margin: 0 !important;
}

.general-form .gform_body {
  display: table;
  width: 100%;
}

.general-form .gform_footer {
  text-align: center;
}

.general-form .gfield {
  margin-bottom: 18px;
}

.general-form .gfield input, .general-form .gfield select, .general-form .gfield textarea {
  margin-bottom: 0 !important;
}

.general-form .gfield .gfield_label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 8px;
}

.general-form .gfield select:focus {
  outline: none !important;
}

.general-form .gfield.gfield_html ul {
  list-style: disc;
  font-size: 16px;
  margin-left: 36px;
}

.general-form .gfield.inline-price-field .gfield_label,
.general-form .gfield.inline-price-field .ginput_container_product_price {
  display: inline-block;
}

.general-form .gfield_required {
  color: #A90000;
}

.general-form .gform_fields .gfield.gfield_total {
  border: 2px dashed #ccc;
  padding: 8px;
  text-align: center;
}

.general-form .gform_fields .gfield.gfield_total .ginput_total {
  margin-left: 8px;
  font-weight: 700;
}

.general-form .gform_fields .gfield.gfield_total .gfield_label,
.general-form .gform_fields .gfield.gfield_total .ginput_container_total {
  font-size: 18px;
  display: inline-block;
}

.general-form .gform_confirmation_message {
  text-align: center;
  font-weight: 700;
}

.general-form .charleft, .general-form .gfield_description, .general-form .screen-reader-text {
  font-style: italic;
  margin-top: 4px;
  color: #666;
  padding: 0px 8px;
}

.general-form .gfield_price .ginput_container_singleproduct span,
.general-form .charleft, .general-form .gfield_description, .general-form .screen-reader-text,
.general-form .gfield, .general-form .ginput_container_creditcard label {
  font-size: 12px;
}

.general-form .ginput_container_date img {
  display: none !important;
}

.general-form .datepicker {
  background-image: url(../images/calendar-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 95% 13px;
}

.general-form .gform_drop_area {
  position: relative;
  border: 2px dashed #CCC;
  text-align: center;
  padding: 24px;
}

.general-form .ginput_container_fileupload .validation_message {
  margin-top: 0 !important;
}

.general-form .gform_fileupload_multifile .gform_button_select_files {
  font-size: 12px !important;
  background-color: #fff !important;
  color: #585858;
  border-radius: 6px !important;
  padding: 4px;
  height: auto;
  font-weight: 600;
  margin-left: 12px !important;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc !important;
}

.general-form .ginput_container_creditcard label {
  margin-left: 12px;
  margin-bottom: 16px;
}

.general-form .ginput_card_security_code_icon {
  transform: translateX(12px);
}

.general-form .gfield_description.validation_message {
  color: #A90000;
  margin: -10px 0 0;
}

.general-form .gf_progressbar_wrapper {
  margin-bottom: 24px;
}

.general-form .gf_progressbar_title {
  font-size: 16px;
  text-align: center;
}

.general-form .gf_progressbar_percentage {
  background-color: #333;
}

.general-form .gf_progressbar {
  background-color: #FFF;
  border-radius: 40px;
  overflow: hidden;
}

.general-form .gf_progressbar span {
  color: #FFF;
  font-weight: 700;
  padding-left: 16px;
  font-size: 16px;
}

.general-form .gform_page_footer .button {
  margin: 4px 0;
  min-width: 160px;
}

.general-form .gform_page_footer input:not([type=submit]) {
  background-color: #444;
}

.general-form .gform_page_footer input:not([type=submit]):hover {
  background-color: #000;
}

.general-form .gform_page_footer input[type="Submit"]:hover {
  background-color: #000;
  color: #FFF;
}

.general-form .center-buttons .gform_page_footer {
  text-align: center;
}

.general-form .gsection {
  border-bottom: 1px solid #CCC;
}

.general-form .gsection_title {
  font-size: 18px;
}

.general-form .ginput_quantity {
  display: inline-block;
  width: 100px;
}

.general-form .gfield_checkbox,
.general-form .gfield_radio {
  margin-left: 14px;
}

.general-form .gfield_checkbox li label,
.general-form .gfield_radio li label {
  font-size: 12px;
  line-height: 1.9;
  vertical-align: bottom;
}

.general-form .gfield_checkbox li {
  display: block;
  width: 100%;
}

.general-form .gform_card_icon {
  display: inline-block;
  font-size: 0;
  margin-right: 16px;
}

.general-form .gform_card_icon:before {
  font-family: "Font Awesome 5 Brands";
  font-size: 40px;
  opacity: .6;
}

.general-form .gform_card_icon.gform_card_icon_selected:before {
  opacity: 1;
}

.general-form .gform_card_icon_amex:before {
  content: '\f1f3';
}

.general-form .gform_card_icon_visa:before {
  content: '\f1f0';
}

.general-form .gform_card_icon_mastercard:before {
  content: '\f1f1';
}

.general-form .ginput_card_security_code_icon:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
  content: '\f023';
  font-weight: 900;
}

.general-form .ginput_card_security_code_icon+label,
.general-form .ginput_card_security_code_icon {
  display: inline-block;
}

.general-form.main-contact-form .gform_wrapper {
  margin-bottom: 0;
}

.general-form.general-form-style-1 .gform_wrapper .cell {
  padding: 0 16px;
}

.general-form.general-form-style-1 .gform_footer input[type="submit"]:hover {
  background-color: #000;
  color: #FFF;
}

.general-form.general-form-style-1 .inner-section>.grid-container {
  background-color: #f2f2f2;
  padding-top: 24px;
  padding-bottom: 24px;
}

body .general-form .gform_wrapper .gfield input, body .general-form .gform_wrapper .gfield select, body .general-form .gform_wrapper .gfield textarea {
  border: 1px solid #eaeaea;
  font-size: 12px;
  background-color: #fff;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

body .general-form .gform_wrapper .gfield input[type="file"] {
  font-size: 14px;
  line-height: 1;
  background-color: transparent !important;
  border: none;
  height: auto;
}

body .general-form .gform_wrapper .gfield.disabled-input input.ginput_amount {
  background-color: transparent !important;
  border: none;
  font-weight: 700;
  color: #a90000;
}

/**************************
#MAP CONTACT FORM - START
**************************/
.ginput_recaptcha {
    margin-bottom: 20px;
}

.contact-layout-1 .sub-map iframe {
    width: 100%;
    display: block;
}

.contact-layout-1 .sub-map > p {
    margin: 0;
}

.map-form-element.contact-layout-2 .grid-x>.medium-5, .map-form-element.contact-layout-2 .grid-x>.medium-7 {
  width: 100%;
}

.map-form-element.contact-layout-2:not(.inline-form) .gform_wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.form-featured-image .featured-image {
  height: 100%;
}

.pe-form-column:only-child {
  width: 100%;
}

.contact-layout-4.has-bg-img input,
.contact-layout-4.has-bg-img select,
.contact-layout-4.has-bg-img textarea {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #f4f4f4;
  color: #FFF;
}
@media (min-width: 641px) {
  .default-contact-layout.default-alignment .section-header {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .map-form-element.has-bg-img .bg-float:before {
    background: rgba(27, 31, 42, 0.8);
  }
}

@media (max-width: 640px) {
  .map-form-element.image-contain .featured-image {
    height: auto;
  }

  .map-form-element.image-contain .featured-image::before {
    content: '';
    width: 100%;
    height: auto;
    display: block;
    padding-top: 60%;
  }
}
/**************************
#MAP CONTACT FORM - END
**************************/
/*************************
#LOCATION - START
**************************/
.location-map {
  height: 700px;
}

/**************************
#LOCATION - END
**************************/
/****************************************
#POST SELECTION START
****************************************/
@media(min-width: 641px) {
  .hic-simple-select-element .input-group {
    align-items: center;
    justify-content: center;
  }

  .hic-simple-select-element h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 24px;
  }

  .hic-simple-select-element select {
    background-position: right 0 center;
    max-width: 300px;
    margin-bottom: 0;
  }
}

@media(min-width: 1024px) {
  .hic-simple-select-element h4 {
    font-size: 24px;
  }

  .hic-simple-select-element select {
    max-width: 450px;
    padding: 12px 16px;
    height: auto;
  }
}
.post-element.listing-element .hic-meta li span {
    display: none;
}
.post-element.image-above-content .hic-media-container{
  z-index: 1;
}
.post-element.image-above-content .hic-content{
  z-index: 2;
  position: relative;
}
.post-element.image-above-content ul.hic-meta {
    order: 1;
}
.post-element.image-above-content .hic-title{
  order: 2;
}
.post-element.image-above-content .hic-blurb{
  order: 3;
}
.post-element.image-above-content ul.hic-meta {
    order: 1;
    background: #1295db;
    width: 70px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px;
    margin-top: -60px;
    margin-bottom: 20px;
}
.published-date .numbers{
  font-weight: 600;
  font-size: 30px;
}
.post-element .hic-box:hover {
    box-shadow: 0 2px 18px rgb(0 0 0 / 10%);
}
/****************************************
#POST SELECTION END
****************************************/
/**************************
ENTRY CONTENT - START
**************************/
.entry-content .wp-post-image {
  margin-bottom: 20px;
}

.post-byline li {
  display: inline-block;
  margin-right: 8px;
  border-right: 1px solid #ccc;
  padding-right: 8px;
  line-height: 1;
}

.post-byline li:last-child {
  border-right: none;
}

.body-content {
  margin-left: auto;
  margin-right: auto;
}

.page-title .vcard {
  border: 0px;
  padding: 0px;
}

.byline {
  color: #999;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
}

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
}

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
}

.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}

.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/**************************
ENTRY CONTENT - END
**************************/
/**************************
TEAM MEMBER PAGE - START
**************************/
.single-team .hero {height: 398px;}
.agent-sinlge-header .grid-x {
    width: 100%;
}
.single-team.subpage .main-content {padding-bottom: 0;}
.agent-sinlge-header {position: absolute; height: 100%; width: 100%;  top: 0;}
.agent-sinlge-header .inner {height: 100%}
.agent-sinlge-header .ash-container {max-width: 650px; width: 90%; margin: 80px auto 0 auto; background-color: rgba(255, 255, 255, 0.68); padding: 34px; border-radius: 4px; box-shadow: 0 2px 8px 0 rgba(0,0,0, .4);}
.agent-sinlge-header .agent-avatar {  height: 120px; width: 120px; border-radius: 50%; margin: 0 auto; border: 2px solid #1b1f2a;}
.agent-sinlge-header .agent-details {color: #1b1b1b;}
.agent-sinlge-header .agent-name {color: #FFF; font-weight: 700; font-size: 20px;}
.agent-sinlge-header .agent-position  {color: #FFF;margin-bottom: 12px;}
.agent-sinlge-header .agent-address {margin-bottom: 0;}
.single-team .agent-bio-col, .single-team .agent-bio-col + .cell {
    padding-bottom: 50px;
    padding-top: 50px;
}
.single-team .secondary-text {font-weight: 700;}
.single-team .agent-phone, .single-team .agent-email, .single-team .agent-alternative-number {margin-bottom: 10px;}
.single-team .agent-phone .accent-text, .single-team .agent-email .accent-text, .single-team .agent-alternative-number .accent-text {margin-right: 5px;}
.agent-listing-section {padding: 50px 0; background-color: #F7F7F7;}
.agent-listing-section .section-title {text-align: center;}
.single-team .agent-bio-col + div > :last-child {
    margin-bottom: 50px;
}

@media (min-width: 641px) {

  .agent-listing-section {padding: 80px 0;}
  .agent-listing-section .section-title {text-align: left;}

  .agent-sinlge-header .ash-container{
    width: 70%;
  }

  .agent-sinlge-header .agent-avatar {  height: 150px; width: 150px;}
}

@media (min-width: 1024px) {
  .agent-sinlge-header .agent-name {font-size: 28px;}

  .agent-sinlge-header .agent-avatar {height: 200px; width: 200px;}
  .agent-sinlge-header .ash-container{
    width: auto;
  }
}
/**************************
TEAM MEMBER PAGE - END
**************************/
/**************************
SIDEBAR - START
**************************/
.sidebar .widget {
  margin-bottom: 25px;
}

.sidebar .widgettitle {
  font-weight: 600;
}

.sidebar li {
  border-bottom: 1px solid #e9e9e9;
  padding: 6px 15px 6px 0;
}
.sidebar li a {
  color: inherit;
  display: block;
}
.sidebar .button-group .button {
    border-radius: 0;
    margin: 0;
    height: auto;
    padding: 0 15px;
}
/**************************
SIDEBAR - END
**************************/
/**************************
PRODUCT - START
**************************/
.description-gallery .button i {
    margin-right: 12px;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover{
  color: #fff;
}

.button span.cart-item-count{
  z-index: 1;
}

.page-my-account.woocommerce-page .col2-set .col-2 {
  margin-top: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 4px 0 rgba(10, 0, 0, 0.15);
}
.woocommerce-MyAccount-navigation ul {
  list-style-type: none; margin: 0;
}
.woocommerce-MyAccount-navigation ul li {
  border-bottom: 1px solid #e3e3e3;
}
.woocommerce-MyAccount-navigation ul li:last-child {
  border-bottom: 0;
}
.woocommerce-MyAccount-navigation ul li a {
  color: #757575;
  display: block;
  padding: 6px 15px;
  background-color: #FFF;
}

.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li.is-active a:hover {
  color: #fff;
}

.woocommerce-page .woocommerce table.shop_table thead th,
.woocommerce-page .woocommerce table.shop_table th {
    color: #fff;
}

.woocommerce-cart table.cart td.actions .coupon {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce-cart .cart-empty.woocommerce-info{
  width: 100%;
}

.listing-element .pager-column .page-numbers.current {
    color: #fff;
}
.listing-element .pager-column {
    text-align: center;
}
.listing-element .pager-column .page-numbers {
    display: inline-block;
    padding: 6px 12px;
    background-color: #f2f2f2;
    border-radius: 4px;
    min-width: 40px;
    text-align: center;
}

.hic-notice .woocommerce-error li .button {
    margin-left: 12px;
}

@media (max-width: 640px){
    .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .button {
        width: 100%;
    }

    .woocommerce-cart table.cart td.actions .coupon .input-text {
        margin-bottom: 5px !important;
    }

    .woocommerce-cart table.cart td.actions .coupon{
        padding-bottom: 1rem;
    }
}

@media (min-width: 641px){
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        margin-bottom: 0 !important;
        height: auto;
        width: 150px;
        margin-right: 5px !important;
        background-color: #eee;
    }
}

@media (min-width: 641px) and (max-width: 1023px){
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        width: 50%;
    }

    .woocommerce-cart table.cart td.actions .coupon .button {
        width: calc(50% - 5px);
    }
}

@media (max-width: 1023px){
  .woocommerce-account .woocommerce-MyAccount-navigation{
    margin-bottom: 20px;
  }
}
/**************************
PRODUCT - END
**************************/
/**************************
MODAL - START
**************************/
.reveal {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 8px;
  padding: 35px;
}

.reveal .button {
  margin-bottom: 0;
}

/**************************
MODAL - END
**************************/


/****************************************
#SIGN UP FORM - START
****************************************/
.subscription-form li {
    list-style: none;
}
.subscription-form .wizard .field-radio input {
    display: none;
}
.form-step-header {
    max-width: 650px;
    margin: 0 auto 64px;
  text-align: center;
}
.subscription-form .step-title {
    font-weight: 700;
    font-size: 28px;
}
.subscription-form .step-description {
    font-size: 16px;
}
.subscription-form .progressbar {
    border: 1px solid;
    border-radius: 28px;
    text-align: left;
    padding: 0 16px;
  background-color: #444;
    color: #FFF;
}
.subscription-form .progressbar-container {
    max-width: 650px;
    margin: 24px auto;
    border: 1px solid #444;
    border-radius: 28px;
    text-align: left;
    overflow: hidden;
}
.subscription-form .progressbar.percentbar_20 {
    width: 20%;
}
.subscription-form .progressbar.percentbar_40 {
    width: 40%;
}
.subscription-form .progressbar.percentbar_60 {
    width: 60%;
}
.subscription-form .progressbar.percentbar_80 {
    width: 80%;
}
.subscription-form .progressbar.percentbar_100 {
    width: 100%;
}
.stepsform .hic-blurb ul,
.stepsform .hic-blurb li {
    list-style: none !important;
}
.stepsform .field-radio,
.stepsform .field-radio {
    display: flex;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.stepsform .input_container .grid:not(.grid-x) .field-radio>li {
    width: 100%;
}
.stepsform .input_container .field-radio>li {
    display: block;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    padding: 0 8px;
    margin-bottom: 20px;
}
.stepsform .input_container .field-radio.carousel .interval-item {
    padding: 0 8px;
    margin: 16px 0;
}
.stepsform.wizard > .content > .body {
    text-align: center;
    width: 100%;
        height: auto;
    position: relative;
    padding: 0;
}
.stepsform .input_container .field-radio li {
    display: block;
}
.stepsform .field-radio li label:before {
    display: none;
}
.stepsform .input_container .field-radio li>label {
    width: 100%;
    margin: 0;
}

.stepsform .field-radio li>label,
.stepsform .field-radio .hic-box {
    height: 100%;
}


.stepsform .field-radio input[type="radio"]:checked+label .hic-button-wrap .button {
    background-color: #000 !important;
    font-size: 0;
}
.stepsform .field-radio input[type="radio"]:checked+label .hic-button-wrap .button:before {
    font-size: 20px;
    content: 'Selected';
}
.stepsform .wizard > .content {
    background-color: transparent;
    min-height: 100px;
}

.stepsform .wizard .content > .body {
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;
}

.subscription-term {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}
.subscription-term input[type="radio"]:checked+label,
.subscription-term li label:hover{
    color: #FFF;
  transition: all .3s;
}
.subscription-term .field-radio label,
.stepsform .input_container .field-radio li>label {
    padding-left: 0;
}
.subscription-term li:first-child label {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
}
.subscription-term li:last-child label {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}
.wizard .content .body .subscription-term label {
    margin: 0;
}
.subscription-term li label {
    padding: 14px;
    margin: 0;
    border: 2px solid;
    font-weight: 600;
    min-width: 200px;
    text-align: center;
    font-size: 16px;
}

.subscription-term li label:before {
    display: none;
}
.subscription-term ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.package-price {
    margin-bottom: 20px;
}
.package-price .price {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
}
.package-price .price span {
    font-size: 16px;
    font-weight: 700;
  color: #333;
}
.subscription-form .gst-text {
    font-size: 14px;
    margin-top: 16px;
}
.package-price .price.setup-price .gst-text {
    display: block;
}
.subscription-form .interval-price span,
.subscription-form .setup-price span {
    margin-left: 8px;
}
.enquire-only .package-price .interval-price span {
    margin-top: 10px;
    display: block;
}
.package-price .price.setup-price {
    margin-top: 30px;
}
.package-disclaimer {
    font-style: italic;
    margin-top: 24px;
}

.package-features li:not(:last-child) {
    line-height: 1.6;
    margin: 0 auto;
    border-bottom: 1px solid #d0d0d0 !important;
}
.hic-content {
    display: flex;
    flex-flow: column;
    padding-top: 24px;
    padding-bottom: 24px;
}
.pricing-table .hic-title h3 {
    margin-bottom: 0;
    font-weight: 700;
}
.pricing-table .hic-title {
    order: 1;
}
.pricing-table .hic-sub-title {
    order: 2;
    min-height: 127px;
  margin-bottom: 40px;
}
.pricing-table .hic-blurb {
  order: 4;
  margin-top: 48px;
}
.pricing-table .hic-button-wrap {
    order: 3;
  width: 100%;
}
.pricing-table .hic-button-wrap .button {
    margin-top: 0;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    border-radius:0;
}
.pricing-table .field-radio .hic-button-wrap .button,
.pricing-table .hic-button-wrap .button{
    color: #FFF;
}
.pricing-table .hic-button-wrap .button:after,
.pricing-table .field-radio .hic-button-wrap .button:after {
    display: none;
}
.form-step>p {
    margin-bottom: 34px;
}
.pricing-table .field-radio .hic-box {
    transition: all .25s ease-in-out;
}
.pricing-table .field-radio li:hover .hic-box,
.pricing-table .field-radio input[type="radio"]:checked+label .hic-box{
    transform: scale(1.04);
}

.pricing-table .field-radio .interval-item.selected .hic-button-wrap .button {
    background-color: #f26e23 !important;
    border-top: 1px solid #444;
}

.package-features li {
    font-weight: 500;
}

.stepsform-p-1 .field-radio>li {
    display: block;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 50%;
    padding: 0 12px;
    margin-bottom: 20px;
}
.stepsform-p-1 .field-radio input {
    display: none;
}
.stepsform-p-1 .field-radio .hic-content {
    padding: 0;
}
.stepsform-p-1 .field-radio .hic-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 15px 24px;
}
.stepsform-p-1 .field-radio label {
    cursor: pointer;
    width: 100%;
}
.stepsform-p-1 .field-radio label:before {
    display: none;
}
.stepsform-p-1 .field-radio label:hover .hic-title {
    background-color: #f26e23;
}
.stepsform-p-1 .field-radio .hic-title h3 {
    line-height: 1;
    margin-bottom: 0;
}
.stepsform-p-1 .field-radio .hic-button-wrap {
    background-color: #444;
}
.stepsform-p-1 .field-radio .hic-button-wrap .button {
    margin-top: 0;
    font-weight: 600;
    padding: 16px 0;
    font-size: 20px;
    border: none;
}
.stepsform-p-1 .field-radio .hic-box {
    position: relative;
}
.stepsform-p-1 .field-radio label:hover .hic-image:before{
    background-color: rgb(0 0 0 / 40%);
}
.stepsform-p-1 .field-radio input[type="radio"]:checked+label .hic-image:before {
    background-color: rgb(0 0 0 / 60%);
}
.stepsform-p-1 .field-radio .hic-title,
.stepsform-p-1 .field-radio .hic-image:before {
    transition: all .25s ease-in-out;
}
.stepsform-p-1 .field-radio .hic-box:first-child:before {
    content: "\f058";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    margin-right: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 52px;
    width: 52px;
    line-height: 52px;
    font-size: 52px;
    color: #fff;
    transition: all .25s ease;
    opacity: 0;
    transform: scale(0.4);
    z-index: 2;
}

.stepsform-p-1 .field-radio input[type="radio"]:checked+label .hic-box:first-child:before {
    opacity: 1;
    transform: scale(1);
}

.field-checkbox li,
.field-radio li {
    position: relative;
}
.field-checkbox label:before,
.field-radio label:before {
    position: relative;
}
input[type=checkbox] + label,
input[type=radio] + label:not(.button) {
   margin: 0;
   padding-left: 28px;
}
.subscription-form .actions li a {
    font-weight: 700;
    min-width: 150px;
    text-align: center;
}
.subscription-form .actions li:not(.disabled):first-child a {
    background-color: #000;
}

.pricing-table .selected .hic-box {
    background: #f7efeb;
}
.pricing-table .hic-box {
  display: flex;
  flex-flow: column;
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 24px;
}
.default-section .pricing-table .hic-box,
.light-section .pricing-table .hic-box {
  background-color: #f2f2f2
}
.pricing-table .hic-sub-title {
    margin-bottom: 0;
}
.pricing-table .is-featured .hic-box {
  background-color: #6950a0;
}

.pricing-table .is-featured .hic-box,
.pricing-table .is-featured .hic-title h3,
.pricing-table .is-featured .price span,
.pricing-table .is-featured .price.setup-price {
     color: #fff;
}



.pricing-table .hic-content{
  padding: 0;
  width: 100%;
  text-align: center;
}

.package-features{
  text-align: left;
  padding-top: 20px;
}

.package-features ul li{
  padding: 8px 0 8px 25px;
    position: relative;
}

.package-features li:before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Pro';
    font-size: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
}

.pricing-table .hic-button-wrap .button{
  position: absolute;
  left:0;
  right: 0;
}

.pricing-table .package-description p {
    margin: 0;
}
.pricing-table .package-description {
  margin-bottom: 24px;
}

@media(min-width: 1024px) {
    .package-message-wrap #package-error{
        font-size: 20px;
    }
    .pricing-table .hic-title {
        margin-bottom: 16px;
    }
    .pricing-table .hic-button-wrap .button,
    .stepsform .field-radio .interval-item.selected .hic-button-wrap .button:before{
        font-size: 22px;
    }
}

/* STEP DESIGN */
.field-design.field-radio {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.field-design.field-radio>li {
    display: block;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 50%;
    padding: 0 12px;
    margin-bottom: 20px;
}
.field-design.field-radio label {
    cursor: pointer;
    width: 100%;
}
.field-design.field-radio .hic-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 15px 24px;
    text-align: center;
}
.field-design.field-radio .hic-box {
    position: relative;
    border-radius: 10px;
}
.field-design.field-radio .hic-title h3 {
    line-height: 1;
    margin-bottom: 0;
}
.field-design.field-radio .hic-content {
    padding-top: 0;
    padding-bottom: 0;
}
.field-design .hic-button-wrap .button {
  width: 100%;
  font-weight: 700;
}
/* END STEP DESIGN */

/* STEP CUSTOMER INPUT */
.default-section .step-customer-input .form-step-body,
.light-section .step-customer-input .form-step-body {
    background-color: #f2f2f2;
}
.step-customer-input .form-step-body {
    padding: 50px;
}
.step-customer-input .input-group {
    margin-bottom: 10px;
    flex-flow: column;
}
.step-customer-input .input-group label {
    line-height: 1;
    font-weight: 700;
}

.subscription-form .wizard > .content > .body input.error {
    background: #FFF;
    border: 1px solid #ccc;
    color: #0a0a0a !important;
}
.subscription-form .wizard > .content > .body label.error {
    font-size: 14px;
    margin-left: 0;
    margin-top: -8px;
    margin-bottom: 12px;
    font-style: italic;
}
.step-customer-input input {
    height: 45px;
}

/* END CUSTOMER INPUT */
.stepsform .actions{
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}
.sf-stripe-cc{
    padding: 5px 20px;
    background-color: #fff;
}
.stripe-name-on-card label{
    color: #444;
    font-size: 16px;
    font-weight: 700;
}
.stripe-name-on-card input{
    margin-bottom:0;
    height: 45px;
}

.thank-you-message{
    text-align: center;
    background-color: #edf5f8;
    color: #6950a0;
    padding: 50px 30px;
}

.thank-you-message h2{
    font-size: 26px;
    margin-bottom: 0;
}

.addon-list ul li {
    position: relative;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  width: 100%;
}
.subscription-form .addon {
    background-color: #f2f2f2;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 16px;
}
.subscription-form .addon .form-label {
    color: #444;
    font-weight: 700;
    margin-bottom: 8px;

}
.subscription-form .addon ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/*.interval-item.slick-slide{*/
/*  min-width: 375px*/
/*}*/

.pricing-table:not(.carousel){
    margin-left:0 !important;
    margin-right:0 !important;
}


.addon-list ul li{
  padding: 0 5px;
}

.addon-list ul li[data-addon-type="product"] label,
.addon-list ul li[data-addon-type="product"] label div,
.addon-list ul li[data-addon-type="package"] label,
.addon-list ul li[data-addon-type="package"] label div{
  position: relative;
}

.addon-list ul li[data-addon-type="product"] label,
.addon-list ul li[data-addon-type="package"] label{
  padding: 5px 10px;
  width: 100%;
}

.addon-list ul li[data-addon-type="product"] label div,
.addon-list ul li[data-addon-type="package"] label div{
  z-index: 1;
    position: relative;
    padding-left: 24px;
}

.addon-list ul li[data-addon-type="product"] input[type="checkbox"] + span,
.addon-list ul li[data-addon-type="package"] input[type="checkbox"] + span{
  position: absolute;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}
.addon-list ul li[data-addon-type="product"] input[type="checkbox"] + span:before,
.addon-list ul li[data-addon-type="package"] input[type="checkbox"] + span:before{
  content: "\f00c";
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    background: transparent;
    text-align: center;
    border: 1px solid #f36e23;
    line-height: 1.2;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
  font-size: 16px;
  border-radius: 50%;
  left: 7px;
  top: 7px;
  position: absolute;
}

.addon-list ul li[data-addon-type="product"] input[type="checkbox"] + span:after,
.addon-list ul li[data-addon-type="package"] input[type="checkbox"] + span:after{
  content: '';
  background-color: #f36e23;
  width: 100%;
  height: 100%;
}

.addon-list ul li[data-addon-type="product"] input[type="checkbox"]:checked + span:before,
.addon-list ul li[data-addon-type="package"] input[type="checkbox"]:checked + span:before{
  color:#fff;
  border-color: #fff;
}

.addon-list ul li[data-addon-type="product"] input[type="checkbox"]:checked + span,
.addon-list ul li[data-addon-type="package"] input[type="checkbox"]:checked + span{
  background-color: #f36e23;
}

.addon-list ul li[data-addon-type="product"] input[type="checkbox"]:checked + span + div,
.addon-list ul li[data-addon-type="package"] input[type="checkbox"]:checked + span + div{
  color: #fff;
}

.addon-list.group-by-category [data-item] .addon-category {
    display: none;
}
.addon-list [data-item] label {
    cursor: pointer;
}

.wizard > .content > .body input[type="checkbox"]{
  opacity:0;
  visibility: hidden;
}
.form-step .order-summary h3 {
  text-align: center;
}
.no-addons-available{
    color: #444;
    text-align: center;
}
.simple-summary .total-setup-fee,
.simple-summary .total-recurring-fee{
  font-size: 30px;
  font-weight: 700;
}
.simple-summary .recurring-wrap{
  margin-top: 15px;
}
.addon-list .addon-no-plan{
  display: list-item !important;
}
.subscription-form input[type=checkbox] + label:before,
.subscription-form input[type=radio] + label:before {
    top: 5px;
}
.subscription-form .slick-dots li button:before {
    color: #6950a0;
    font-size: 14px;
    opacity: .4;
}
.subscription-form .slick-dots li.slick-active button:before {
    color: #56c2af;
}
.subscription-form ul.slick-dots {
    margin-top: 16px;
    margin-bottom: 16px;
}
.subscription-form .slick-dots li.slick-active button:before {
    opacity: .9;
}

.subscription-form .carousel,
.subscription-form .carousel .slick-track {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    transition: opacity .25s ease;
}
.subscription-form .carousel.slick-initialized,
.subscription-form .carousel.slick-initialized .slick-track {
    height: 100%;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    width: auto;
}

.subscription-form .wizard,
.subscription-form .tabcontrol,
.subscription-form .wizard > .content {
    overflow: visible;
}
.package-price .price.setup-price > * {
    display: inline-block;
}
.package-price .price.setup-price {
    font-size: 20px ;
    color: #333;
}
.stepsform ul.slick-dots {
    display: block;
    position: relative;
    bottom: 0;
}
.stepsform ul.slick-dots li {
    display: inline-block !important;
    position: relative;
}

.stepsform .slick-track {
  display: flex !important;
}

.stepsform .slick-slide {
  height: auto;
}

.stepsform .slick-prev {
    left: -34px;
    z-index: 9999;
}
.stepsform .slick-next{
  right: -34px;
}

.form-step-body .google_address_lookup{
  flex-flow: column;
  margin-bottom: 0;
}

.form-step-body .google_address_lookup input{
    margin-bottom:0;
}
/** Summary Field **/
.order-summary-table tr th, .order-summary-table tr td,
.recurring-summary-table tr th, .recurring-summary-table tr td{
    border: 1px solid #CCC;
}
.order-summary-table tfoot tr td:first-child,
.recurring-summary-table tfoot tr td:first-child{
    text-align: right;
}
.order-summary-table tr th,
.recurring-summary-table tr th{
    background-color: #444444;
    color: #FFF;
    text-align: left;
}
.order-summary-table tbody tr:first-child,
.recurring-summary-table tbody tr:first-child{
    text-transform: uppercase;
}
.package-features li.cross:before {
    content: "\f00d";
}

@media(max-width:1023px){
  .accordion .cell{
    width: 90%;
    margin: 20px auto;
  }
}
@media(max-width: 480px){
    .subscription-term {
        text-align: center;
    }
    .subscription-term ul {
        max-width: 90%;
    }
    .subscription-term li{
        width: 50%;
    }
    .subscription-term li label {
        min-width: 100px;
        width: 100%;
    }
    .wizard > .content {
        margin: 0;
    }
}

@media(max-width: 640px){
    .stepsform-p-0 .input_container .field-radio {
        padding-left: 20px;
        padding-right: 20px;
    }
    .stepsform-p-0 .input_container .field-radio > li {
        width: 100%;
        margin-bottom: 35px;
        padding: 0;
        text-align: center;
    }

    .stepsform-p-1 .field-radio>li {
        width: 100%;
    }
    .stepsform-p-2 .form-step-body, .stepsform-p-3 .form-step-body {
        padding: 25px;
    }

    .wizard > .actions {
        text-align: center;
        margin: 25px 0;
    }
  .wizard > .content > .body label{
    margin-bottom: 0;
  }

  .addon-list ul li{
      margin-bottom: 10px;
  }
}

@media (min-width: 641px){
    .no-addons-available{
        padding-bottom: 36px;
    }

    .thank-you-message h2{
        font-size: 32px;
    }

    .h-form-wrap.subscription-form{
        margin-bottom: 50px;
    }
}
@media(min-width: 768px){
  .stepsform .input_container .grid:not(.grid-x) .field-radio>li{
    width: 33.33%;
    padding: 0 12px;
  }
  .addon-list ul li {
    width: 49%;
  }
  .subscription-form .actions li a {
    min-width: 160px;
  }
}

@media (max-width: 1023px) and (min-width: 768px){
  .pricing-table .hic-box{
    padding: 30px 24px;
  }
}

@media (min-width: 1024px) {

    .subscription-form .addon .form-label {
        font-size: 24px;
    }
    .subscription-form .input-group label {
        font-size: 16px;
    }

    .subscription-form .actions li a {
       font-size: 18px;
    }

  .package-price .price {
    font-size: 36px;
  }
  .subscription-form .slick-arrow:before {
        font-size: 28px;
    }

    .subscription-form .slick-arrow {
        top: 42.5%;
    }
}
/*SIGN UP SUMMARY START*/
.recurring-summary-table td span {
    text-transform: none;
    margin-left: 8px;
}

/*SIGN UP SUMMARY END*/

/****************************************
#SIGN UP FORM - END
****************************************/

/****************************************
#SIGNUP JQUERY STEP RESET
****************************************/
.wizard, .tabcontrol {
  display: block;
  width: 100%;
  overflow: auto;
}
.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #2184be;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{
    background: #eee;
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

/*.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}*/

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}
/****************************************
#SIGNUP JQUERY STEP RESET END
****************************************/
/****************************************
#SIGNUP BASIC RESET START
****************************************/
a.ajax-loading {
    opacity: .8;
    pointer-events: none;
    cursor: not-allowed;
}
.form-is-submitting {
    opacity: .9;
}
.wizard > .content > .body select.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.package-message-wrap {
    text-align: center;
}

.package-message-wrap label.error{
    font-size: 15px;
    color: #FFF;
    padding: 10px 33px;
    max-width: 460px;
    margin: 0 auto 21px!important;
    text-align: center;
    width: 100%;
}

.stepsform .field-radio .interval-item.selected .hic-button-wrap .button {
    background-color: #000 !important;
    font-size: 0 !important;
}
.stepsform .field-radio .interval-item.selected .hic-button-wrap .button:before {
    font-size: 20px;
    content: 'Selected';
}

.wizard > .content > .body input.error,
.input-group-error input[type="text"] {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

div.error , .error,
.wizard > .content > .body label.error,
.sf-stripe-card-errors {
    font-weight: normal !important;
}


.one-off-summary .setup-fee,
.recurring-summary .amount,
.recurring-summary-table tbody > tr > td:last-child{
    width: 30%;
}

.recurring-summary-table tbody > tr > td > td:first-child span{
    font-weight: 700;
}

.wizard > .content > .body input[type="checkbox"],
.wizard > .content > .body input[type="radio"],
.field-checkbox input,
.field-radio input {
    position: absolute;
    left: -99999px;
    display: inline-block;
}

.hidden {
  display: none;
}
/****************************************
#SIGNUP BASIC RESET END
****************************************/

/**************************
FOOTER - START
**************************/
@media(min-width:1024px) {
  .default-footer-layout .footer-col{
    flex: auto;
  }
}
.bottom-footer {
    background-color: #fff !important;
    color: #323258;
    border-top: 1px solid rgba(28,143,208,.2);
}
.footer .contact-details i, .map-form-element .contact-details i {
    background: linear-gradient(180deg, rgba(26,142,211,1) 6%, rgba(40,94,177,1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body:not(.footer-theme) footer a {
    color: #323258;
}
.contact-details i {
  width: 18px;
  margin-right: 6px;
  text-align: center;
}

.footer-layout-1 .contact-details>div, .footer-layout-1 .menu li a {
  padding: 8px 0;
}

.footer-layout-1 .contact-details i {
  position: absolute;
  left: -20px;
  top: 12px;
}
@media (min-width: 641px) {
  .footer-layout-1 .footer-col {
    text-align: left;
    margin-bottom: 30px;
  }

  .footer-layout-1 .contact-details div {
    padding-left: 25px;
  }

  .footer-layout-1 .contact-details i {
    left: 0px;
  }

  .bottom-footer .inner-content {
    text-align: left;
  }

  .bottom-footer .inner-content .copyright {
    display: inline-block;
  }
}
ul.social-media li a {
    background: #323258;
    color: #fff !important;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: block;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
}
ul.social-media li a:hover{
  background: linear-gradient(180deg, rgba(26,142,211,1) 6%, rgba(40,94,177,1) 74%);
  color: #fff !important;
}
.newsletter-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.newsletter-form input[type=text] {
    width: 100% !important;
    padding: 12px !important;
    margin: 0 !important;
    height: auto;
    border-right: 0 !important;
}
.newsletter-form .gform_button {
    margin-top: 0 !important;
    padding: 16px !important;
    margin-bottom: 0 !important;
    font-size: 14px;
    border-radius: 0 !important;
    height: 100% !important;
}
.newsletter-form .gform_footer.top_label {
    margin-top: 0 !important;
}
.newsletter-form div {
    padding: 0 !important;
}
.newsletter-form .gform_fields {
    margin: 0 !important;
}
@media(max-width:1023px){
  .default-footer-layout .footer-col {
      width: 100%;
      flex: auto;
      text-align: center;
  }
  .footer .contact-details {
      width: max-content;
      margin: auto;
  }
    .newsletter-form {
      justify-content: center;
  }
  .footer .logo-wrap img {
      max-width: 200px;
      margin-bottom: 20px;
  }
}
@media(max-width:640px){
  .newsletter-form input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
    line-height: 1 !important;
    min-height: auto !important;
  }
}
/**************************
FOOTER - END
**************************/
/*************************
CUSTOM - START
*************************/
  .border-boxes .hic-image{
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .border-boxes .section-body .cell {
      margin-bottom: 0;
  }
  .border-boxes .section-body .cell:hover {
      background: white;
      box-shadow: 0 2px 18px rgb(0 0 0 / 10%);
      cursor: pointer;
  }
  @media(max-width: 640px){
    .border-boxes .section-body .cell:not(:last-child) {
        border-bottom: 1px solid rgba(28,143,208,.2);
    }
  }
  @media(max-width:1023px){
    .border-boxes .section-body .hic-box {
        height: auto !important;
    }
  }
  @media(min-width: 641px) and (max-width: 1023px){
    .border-boxes .section-body .cell {
        width: 50%;
    }
    .border-boxes .section-body .hic-box {
        padding: 20px;
    }
    .border-boxes .section-body .medium-4:not(:nth-child(2n)) {
        border-right: 1px solid rgba(28,143,208,.2);
    }
    .border-boxes .section-body .medium-4:nth-child(-n+4) {
        border-bottom: 1px solid rgba(28,143,208,.2);
    }
    .border-boxes .section-body .large-3:not(:nth-child(2n)) {
        border-right: 1px solid rgba(28,143,208,.2);
    }
    .border-boxes .section-body .large-3:nth-child(-n+6) {
        border-bottom: 1px solid rgba(28,143,208,.2);
    }
  }
  @media(min-width:1024px) {
    .border-boxes .section-body .hic-box {
        padding: 40px;
    }
    .border-boxes .section-body .medium-4:not(:nth-child(3n)) {
        border-right: 1px solid rgba(28,143,208,.2);
    }
    .border-boxes .section-body .large-3:not(:nth-child(4n)) {
        border-right: 1px solid rgba(28,143,208,.2);
    }
    .border-boxes .section-body .medium-4:nth-child(-n+3) {
        border-bottom: 1px solid rgba(28,143,208,.2);
    }
    .border-boxes .section-body .large-3:nth-child(-n+4) {
        border-bottom: 1px solid rgba(28,143,208,.2);
    }
  }
  /*lead journey*/
    .lead-journey .hic-content {
        position: relative;
    }
    .lead-journey .hic-icon {
      width: 90px;
      height: 90px;
      margin: 0 auto 20px;
      border: 1px solid;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .lead-journey .hic-item:not(:last-child) .hic-icon:after {
      content: '';
      height: 27px;
      background: #ffa825;
      position: absolute;
      border-bottom: 13px solid white;
      z-index: 1;
      border-top: 13px solid white;
  }
  .lead-journey .hic-item:not(:last-child) .hic-icon:before {
      content: "";
      font-size: 20px;
      right: -10%;
      position: absolute;
      z-index: 2;
      height: 25px;
      width: 13px;
      background: url(../images/arrow-divider.png);
  }
  .lead-journey .hic-icon img {
      height: 40px;
      width: auto;
      margin: 0;
      z-index: 1;
  }
  @media (max-width:1023px) {
    .lead-journey.grid .section-body .cell {
        width: 100%;
    }
    .lead-journey.grid .section-body .cell:not(:last-child):after {
        content: "\f078";
        text-align: center;
        width: 100%;
        display: inline-block;
        font-family: fontawesome;
        color: #ffa825;
        font-size: 2rem;
    }
  }
  @media (min-width:1024px) and (max-width:1279px) {
    .lead-journey .hic-item:not(:last-child) .hic-icon:after {
        width: 75%;
        right: -45.5%;
    }
  }
  @media(min-width: 1280px) {
    .lead-journey .hic-item:not(:last-child) .hic-icon:after {
        width: 82%;
        right: -46.7%;
    }
  }
  @media(min-width:1024px) {
    .lead-journey .hic-blurb {
        padding: 0 10px;
    }
  }
  .portrait-images .hic-image {
      max-height: 500px;
      background-size: contain;
      background-repeat: no-repeat;
  }
  .hide-content .hic-content{
    display: none;
  }
  .cta .section-footer {
      text-align: center;
  }
  .cta .section-body {
      display: none;
  }
  @media(min-width:1024px){
    .cta .section-footer {
        height: 170px;
        justify-content: center;
        align-items: center;
        text-align: right !important;
    }
    .cta .section-header.heading-and-subheading,
    .cta .section-footer {
        width: 50%;
        align-items: center;
    }
  }
/*INNER PAGES*/
body.header-transparent:not(.home) .hero .hero-banner-message {
    margin-top: 0;
}
body:not(.home) .hero-main {
    padding-bottom: 80px;
}
body:not(.home) .hero-main .bg-image {
    background-position: bottom center !important;
}
body:not(.home) .hero .hero-banner-message h1 {
    text-transform: uppercase;
}
.dot-bg .section-header .sub-heading{
    background-color: #f6fbfe;
    padding: 40px;
    font-size: 18px;
    z-index: 2;
    position: relative;
}
.dot-bg .section-header {
    position: relative;
}
.dot-bg .section-header:after {
    background-image: url(../images/dots.png);
    content: '';
    height: 200px;
    width: 200px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    right: -63px;
    z-index: 1;
    bottom: -40px;
}
.bg-gradient {
    background: linear-gradient(180deg, rgba(18,148,219,1) 6%, rgba(36,86,173,1) 74%);
    color: #fff;
}
.bg-gradient h2.section-title {
    color: #fff;
}
.image-top-reverse .hic-box {
    flex-flow: column-reverse;
    display: flex;
}
.image-above-content .has-video .hic-media-container {
    border: 20px solid white;
    box-shadow: 0 0 18px rgb(0 0 0 / 20%);
}
.team-position {
    text-transform: uppercase;
    color: #ffa826;
}
.team-element.image-overlay-content .hic-image {
    background-position: top center;
}
.has-video .hic-image::before {
    height: 100%;
}
@media(min-width:641px){
  .hero-banner-message div {
      font-size: 22px;
  }
}
.overlap-bottom .inner-section {
    z-index: 3;
    position: relative;
}
.overlap-top {
    padding-top: 300px;
    margin-top: -250px;
    position: relative;
    z-index: 1;
    background: white;
}
.white-boxes .hic-box{
  padding: 20px;
}
.grey-boxes .hic-box{
  background-color: #f5f9ff;
  padding: 24px;
}
.icon-above-content.carousel .hic-box {
    border-radius: 10px;
    border: 1px solid rgba(28,143,208,.2);
}
.icon-above-content.carousel .hic-box img {
    height: 50px;
    width: auto;
}
.icon-above-content.carousel .hic-title h3 {
    font-size: 16px;
}
/*CAREERS*/
.hic-title h3 span {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    color: #1295db;
    margin-bottom: 5px;
}
.line-button .hic-button-wrap .button {
    background: transparent;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #1393da, #225bb1);
    background: -webkit-linear-gradient(#1393da, #225bb1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 12px;
    font-size: 16px;
    overflow: hidden;
    margin: 15px 0 0 !important;
}
.career-listing .hic-blurb {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #77769c;
}

.career-popup h2.modal-title {
    font-size: 30px;
    margin-bottom: 0;
}
.career-popup .sub-heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #77769c;
}
.career-popup h3 {
    font-size: 20px;
    color: #1295db;
    text-transform: uppercase;
}
.career-popup .validation_message {
    display: none;
}
.career-popup .gform_footer.top_label .button {
    font-size: 15px;
    padding: 15px;
}
.gform_wrapper .gform_fields .gfield.gfield--width-half{
  width: 100%;
}
.career-popup textarea{
  width: 100% !important;
  height: 150px !important;
  resize: none;
}

@media(max-width:640px){
  .mob-2 .section-body .cell {
      width: 50%;
  }
  .border-boxes.mob-2 .section-body .cell:not(:last-child, :nth-last-child(2)) {
      border-bottom: 1px solid rgba(28,143,208,.2);
  }
  .border-boxes.mob-2 .section-body .cell:nth-child(odd) {
      border-right: 1px solid rgba(28,143,208,.2);
  }
}

.write span {
  border-right: .02em solid;
  animation: caret 1s steps(1) infinite;
	margin-left: 10px
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@media (min-width: 1024px){
  body:not(.home) .border-boxes .section-body .large-3:not(:last-child),
  body:not(.home) .border-boxes .section-body .medium-4:not(:nth-last-child(-n+3)){
  	   border-bottom: 1px solid rgba(28,143,208,.2);
  }
}
@media (min-width: 641px) and (max-width: 1023px){
  .border-boxes .section-body .large-3:not(:nth-last-child(-n+2)) {
      border-bottom: 1px solid rgba(28,143,208,.2);
  }
}
.border-boxes .section-footer {
    margin-top: 30px;
}

.brands-section .hic-title {
    margin-bottom: 20px;
}
.brands-section .hic-title img {
    width: 50px;
    height: auto;
}
.brands-section .hic-box {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
}
.nap-section .section-body {
    justify-content: center;
    background: linear-gradient(180deg, rgba(26,142,211,1) 6%, rgba(40,94,177,1) 74%);
    color: white;
    border-radius: 5px;
}

.nap-section a {
    color: #fff;
}
.map-section p{
  margin-bottom: 0;
}
.nap-form .section-body {
    background: linear-gradient(180deg, rgba(26,142,211,1) 6%, rgba(40,94,177,1) 74%);
    border-radius: 5px;
    padding: 40px;
    margin-top: 10px;
}
.nap-form .gform-body .gfield {
    padding: 0;
}
.nap-form .gform_footer {
    padding: 0 !important;
    margin: 0 !important;
}
.nap-form .gform_button {
    width: 100% !important;
    margin: 10px 0 !important;
    display: block !important;
}
.nap-form .gform_button:hover{
  background: #000;
}
.nap-form .gform_heading {
    display: none;
}
.nap-form label.gfield_label {
    color: white;
    font-weight: 600 !important;
    letter-spacing: 1px;
}
.nap-form input[type=text],
.nap-form select,
.nap-form textarea {
    background: rgba(0,0,0,.2);
    color: white;
    border-radius: 5px;
    border-color: transparent;
}
.nap-form textarea{
  resize: none;
}
.nap-form .gform_fields {
    margin: auto;
}
footer .contact-address {
    display: none;
}
.nap-form .gform_footer input {
    line-height: 1 !important;
    min-height: 0 !important;
}
.nap-section .cell{
  text-align: center;
  padding: 10px;
}
@media(min-width:1024px){
  .nap-section .cell {
      width: max-content !important;
      padding: 20px;
  }
  .default-alignment.header-left .section-header, .header-left .section-body {
      width: 50%;
  }
}
/*Calculator Form*/
.calculator-form .gfield.gfmc-column.gfmc-field {
    background: #f6fbfe;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 20px;
    padding-bottom: 30px;
}
.calculator-form .gfield.gfmc-column.gfmc-field .gfield_html {
    background: linear-gradient(180deg, rgba(26,142,211,1) 6%, rgba(40,94,177,1) 74%);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}
.calculator-form .gfield.gfmc-column.gfmc-field .gfield:not(.gfield_html) {
    margin: 0 30px;
}
.slider-field input[type=number] {
    width: 20% !important;
}
.slider-field .slider-display {
    width: 75%;
    margin: 0;
    margin-right: 5%;
}
.slider-field .ginput_container {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}
.calculator-form input[type=text],
.calculator-form input[type=number]{
    width: 100%;
    height: 48px;
    padding: 0 16px;
    color: #04003d;
    background: #fff;
    border: 1px solid #e1e6ee;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
}
.calculator-form .gfield_calculation {
    text-align: center;
}
.calculator-form .gfield_calculation input {
    text-align: center;
    background: rgb(40,94,177);
    color: white;
    font-size: 18px !important;
    letter-spacing: 1px;
    border-radius: 0;
    border: none;
}
.calculator-form_wrapper .gform_required_legend {
    display: none;
}
.calculator-form #field_submit {
    justify-content: center;
    grid-column: span 12;
    margin-top: 20px;
}
.calculator-form .ginput_product_price_wrapper {
    width: 100%;
}
.calculator-form .ginput_product_price {
    text-align: center;
    background: rgb(40,94,177);
    color: white !important;
    font-size: 18px !important;
    letter-spacing: 1px;
    border-radius: 0;
    border: none;
    width: 100%;
    display: block;
    padding: 10px;
    font-weight: 500;
    height: 48px;
}
.calculator-form .ginput_product_price_label {
    display: none;
}
.calculator-form .percent_field .ginput_container:before {
    content: '%';
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9;
    color: white;
    font-size: 18px !important;
    font-weight: 500;
}
.calculator-form .percent_field .ginput_container:after {
    content: '%';
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
    color: white;
    font-size: 18px !important;
    font-weight: 500;
}
.calculator-form .percent_field .ginput_container {
    position: relative;
}
@media(max-width:640px){
  .gfmc-container {
      display: block !important;
  }
}
/*************************
CUSTOM - END
*************************/
